/* Мы обращаемся к элементу по селектру тега
селектр {
    ключ(свойство): значение
 } */
 /* font-size: 20px; РАЗМЕР ШРИФТА, 
 font-style: italic; СТИЛЬ ШРИФТА 
 italic НАКЛОННЫЙ 
 color: red;ЦВЕТ ШРИФТА
 В конце обязательно точка с запятой  */
h1 {
    font-style: italic;
    font-size: 20px;
    color: blueviolet;
}

/* * звездочка универсальный селектр, который обращается ко всем элементам(используется редко) */
/* border рамка, 1px толщина,solid сплошная + цвет */
* {
    border: 1px solid black;
}

/*  Если мы хотим обратиться к какому-то определенному элементу, коих подобие много на странице-то мы задаем элементу класс, а в css используем .класс */
.text {
    color:brown;
}
/* селектр класс пишется через точку, селектр id через решетку */

/* Селектр потомка- т.е. мы можем применять какие-то стиль к элементам,которые расположены внутри другого элемента, например пункты списка */
/* ul li селектор элемента пунктов всех li которые находятся внутри тега списка ul */
/* li будет простым селектором тега  */
ul li {
    text-decoration: underline;
}

/* Если списков ul на стр много, а нужно обратиться к конкретному, опять же используем класс */
.list li {
    text-decoration: line-through;
}